<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Welcome to the Link Shortener</h1>
<%= form_for @link do |f| %>
	<%= f.label :original_url %>
	<%= f.text_field :original_url %>

	<%= f.submit "Create short link" %>
<% end %>

</body>
</html>