
<h1>Published by Lord Sir Christensmith Brickenshire the Fourth</h1>
Good evening let me learn you a thing or two. <br>
I was born in a log cabin without a face. <br>
<b>I loved to stare out of the window, until mother told me I had been sitting in front of a wall the whole time.</b>

<img src="/farazandjosh.jpeg"
	alt="The coolest kids on the block."
<p>
	The date today is: <%= Date.today %>
</p>

<% if Date.today.tuesday? %>
	<h2>Aw fuck it isn't Friday.</h2>
	<p>
		I tolerate Tuesdays only because they aren't Mondays.
	</p>
<% end %>