<title>Netflix and Chill Generator</title>

<h2>Welcome to the Netflix and Chill Generator</h2>

<form action="/search" method="POST">
Enter a search term to find movies that you're bound to watch alone, loser: 
<br>
<br>
I want movies with <input type="text" id="search" name="search">
<br>	
<br>	
<button type="submit" value="search">God I'm Lonely</button>
</form>
