<!DOCTYPE html>
<html>
<head>
	<title>Netflix and Chill Generator</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="container">
	<div class="top" style="height:73px;">
		<ul class="nav nav-pills pull-right">
			<li><a href="www.jalexy.sexy">Home </a></li>
			<li><a href="www.jalexy.sexy">About </a></li> 
			<li><a href="www.jalexy.sexy">Contact</a></li>
			<li><img src="minihorse.png" width="53px"></li>
		</ul>
	</div>

	<div class="main">

		<h2>Welcome to the Netflix and Chill Generator</h2>
		<br>
		<form action="/search" method="POST">
			<h3>Enter a search term to find movies that you're bound to watch alone, loser: </h3>
			<br>
			<br>
			<input type="text" id="search" name="search" placeholder="I want a movie with">
			<br>	
			<br>	
			<button type="submit" value="search">God I'm Lonely</button>
		</form>
	</div>

	<div class="bottom" style="height:73px;">
		<ul class="nav foot pull-left">
			<li><a href="www.facebook.com">Facebook</a></li>
			<li><a href="www.twitter.com">Twitter</a></li>
			<li><a href="www.linkedin.com">LinkedIn</a></li>
		</ul>

	</div>
</div>
</body>
</html>



