.container {
	margin: 0 40px;
}

.row {
	margin-left: -3%;
}

[class*="span"] {
	display: inline;
	float: left;
	margin-left: 3%;
	background-color: white;
	color: black;
}

.span-one-third {
	width: 100%;
}

@media screen and (min-width: 480px) {
.span-one-third {
	width: 50%;
	}
	[class*="span"] {
		margin-left: 0%;
	}
}

@media screen and (min-width: 1024px) {
.span-one-third {
	width: 30%;
	}
}
