<h2>Add more shit to the list of stuff you'll never do</h2>

<form action="/create_task" method="POST">
	<input type="text" name="task" placeholder="Task description">

	<button type="submit">Add Task</button>
</form>