<h2>Welcome to the TodoList!</h2>
<ul>
	<% @list.tasks.each do | task | %>
		<% if task.complete? %>
		<li><a href="/complete_task/<%=task.id%>"><%= task.content %></a> COMPLETE!</li>
		<% else %>
		<li><a href="/complete_task/<%=task.id%>"><%= task.content %></a></li>
		<% end %>
	<% end %>
</ul>

<a href="/new_task">Add New Task</a>
