<!--views/Subtract.erb-->
<!doctype html>
<html>
<head>
	<title>Divide | Online Calculator</title>
</head>
<body>
	<h1>Divide</h1>

<form action="/calculate_divide" method="POST">
	<input type="number" id="num1" name="first_number" placeholder="1st number"> +
	<input type="number" id="num2" name="second_number" placeholder="2nd number">

	<button type="submit">Calculate</button>
</form>
</body>
</html>