<h1><%= @title %></h1>
<ul>
	<li>
		<b>Product description:</b> <%= @description %>
	</li>
	<li>
		<b>Deadline to bid:</b> <%= @deadline %>
	</li>
</ul>

<%= link_to("Back to Products", products_path)  %>