<h1>You are looking at: <%= @product.title %></h1>
<ul>
	<li>
		<b>Product description:</b> <%= @product.description %>
	</li>
	<li>
		<b>Deadline to bid:</b> <%= @product.deadline %>
	</li>
</ul>

<%= link_to("Back to Products", products_path)  %>